<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>OpenStreetMap Reporter</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico"/>
    <link rel="stylesheet" href="/static/css/bootstrap.css"
          type="text/css" static="screen, projection"/>
    <link rel="stylesheet" href="/static/css/datepicker.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/leaflet.css" type="text/css">
    <!--[if lte IE 8]>
         <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.ie.css" />
     <![endif]-->
    <link rel="stylesheet" href="/static/css/reporter.css"
          type="text/css" static="screen, projection"/>

    <link rel="stylesheet" href="/static/js/leaflet.draw-0.4.9/leaflet.draw.css" type="text/css">
    <script language="javascript"
            type="text/javascript" src="/static/js/jquery-3.2.0.min.js"></script>

    <script type="text/javascript" src="/static/js/datepicker.min.js"></script>
    <script type="text/javascript" src="/static/js/datepicker.en.js"></script>
    <script language="javascript"
            type="text/javascript"
            src="/static/js/jquery.flot.js"></script>
    <script language="javascript"
            type="text/javascript" src="/static/js/jquery.flot.pie.js"></script>
    <script language="javascript"
            type="text/javascript" src="/static/js/leaflet.js"></script>
    <script src="/static/js/heatcanvas.js"></script>
    <script src="/static/js/heatcanvas-leaflet.js"></script>
    <script language="javascript"
            type="text/javascript" src="/static/js/reporter.js"></script>
    <script language="javascript"
            type="text/javascript" src="/static/js/leaflet.draw-0.4.9/leaflet.draw.js"></script>

    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

        .error-form {
            color: red;
            font-style: italic;
        }

        label {
            font-weight: 600;
        }
    </style>

</head>
<body>
<div class="container">
    {% if context.version %}
        <div>
            <label>Version : </label>{{ context.version }}
        </div>
        <div>
            <label>Last edited by :</label> {{ context.edited_by }}
        </div>
        <br>
    {% endif %}
    <form id="form" method="POST" action="{{ context.action }}">
        {{ form.hidden_tag() }}

        {% for field in form %}
            {% if field.name != 'submit' and field.name != 'csrf_token' %}
                <div>
                    {% if field.name !='geometry' %}
                        {{ field.label }}
                        {{ field() }}
                        <br>
                        {% for error in form['errors'][field.name] %}
                            <div class="error-form">{{ error }}</div>
                        {% endfor %}
                    {% else %}
                        {{ field() }}
                    {% endif %}
                </div>
                <br>
            {% endif %}
        {% endfor %}
    </form>
    <div id="map"></div>
    {{ form.submit }}
</div>
</body>
<script>
    var drawnItems = new L.FeatureGroup();
    var bounds = [
        [-34.053726, 20.411482],
        [-34.009483, 20.467358]
    ];
    $(document).ready(function () {
        if ($("#geometry").val()) {
            drawnItems = L.geoJSON($.parseJSON($("#geometry").val()));
        }
        $("#submit").click(function () {
            $("#form").submit();
        });
        $("#start_date").attr('data-language', 'en');
        $("#end_date").attr('data-language', 'en');
        $("#start_date").datepicker({
            dateFormat: 'yyyy-mm-dd',
            autoClose: true
        });
        $("#end_date").datepicker({
            dateFormat: 'yyyy-mm-dd',
            autoClose: true
        });

        {# init map #}
        map = L.map('map');
        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© <a href="http://www.openstreetmap.org" target="_parent">OpenStreetMap</a> and contributors, under an <a href="http://www.openstreetmap.org/copyright" target="_parent">open license</a>',
            maxZoom: 18
        }).addTo(map);

        map.fitBounds(bounds);
        map.addLayer(drawnItems);
        var drawControl = new L.Control.Draw({
            draw: {
                polyline: false,
                marker: false,
                circle: false
            },
            edit: {
                featureGroup: drawnItems
            },
            remove: {
                featureGroup: drawnItems
            }
        }, this);
        map.addControl(drawControl);
        map.on('draw:created', saveLayer);
        map.on('draw:edited', editLayer);
        map.on('draw:deleted', deleteLayer);

    });
    function stringfyGeometry() {
        var json = drawnItems.toGeoJSON();
        $("#geometry").val(JSON.stringify(json));
    }
    function saveLayer(e) {
        var layer = e.layer;
        drawnItems.addLayer(layer);
        stringfyGeometry();
    }
    function editLayer(e) {
        var layer = e.layer;
        stringfyGeometry();
    }
    function deleteLayer(e) {
        var layers = e.layers;
        layers.eachLayer(function (feature) {
            drawnItems.removeLayer(feature);
        });
        stringfyGeometry();
    }
</script>
