<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Open Street Map Reporter</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico"/>
    <link rel="stylesheet" href="/static/css/bootstrap.css"
          type="text/css" static="screen, projection"/>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.css" />
    <!--[if lte IE 8]>
         <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.ie.css" />
     <![endif]-->
    <link rel="stylesheet" href="/static/css/reporter.css"
          type="text/css" static="screen, projection"/>
    <script language="javascript"
            type="text/javascript" src="/static/js/jquery.js"></script>
    <script language="javascript"
            type="text/javascript"
            src="/static/js/jquery.flot.js"></script>
    <!--[if lte IE 8]><script language="javascript" type="text/javascript"
    src="/static/js/excanvas.min.js"></script><![endif]-->
    <script language="javascript" type="text/javascript"
            src="/static/js/jquery.flot.js"></script>
    <script language="javascript" type="text/javascript"
            src="/static/js/jquery.flot.selection.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.js"></script>
    <script language="javascript"
            type="text/javascript" src="/static/js/reporter.js"></script>
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>

</head>
<body>

<div class="container">
    {% if error %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Oops!</strong> {{ error }}
        </div>
    {% endif %}
    <div class="hero-unit">
        <h1>Open Street Map Reporter</h1>
        <p>This page lists people who have contributed <strong>{{ current_tag_name }}</strong> data to a map.</p>
    </div>

    <div class="row">
        <div class="span12" id="map">
        </div>
    </div>
    <div class="row">
        <div class="span4">
            <div id="chart" style="height:300px;"></div>
            <h2>About</h2>
            <p><img src="/static/img/linfiniti-logo-300.png"/></p>
            <p>This application was created by
                <a href="http://linfiniti.com">Linfiniti</a>. The source
                code for this app is
                <a href="https://github.com/timlinux/osm-reporter">
                    available on GitHub</a>.
            </p>
        </div>
        <div class="span8">
            <h2>{{ current_tag_name|capitalize }} Contributors</h2>
            <p>
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Activity</th>
                </tr>
                </thead>
                <tbody>
                {% for myEntry in mySortedUserList %}
                    <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ myEntry.name }}
                        {%  if myEntry.crew %}
                            <span class="label label-success">
                                                Crew</span>
                        {% endif %}
                        {%  if loop.first %}
                            <span class="label label-important">
                                                Guru!</span>
                        {% endif %}
                    </td>
                    <td><div id="overview{{ loop.index }}" style="margin-left:50px;
                    margin-top:20px;width:400px;height:50px"></div>
                        {# <div>{{ myEntry.timeline|safe }}</div> #} </td>
                {% endfor %}
                </tbody>
            </table>
            </p>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        map = L.map('map', {
            updateStatsControl: {{ display_update_control }},
            statsControlOptions: {
                choices: {{ available_tag_names|safe }},
                selected: "{{ current_tag_name }}"
            }
        });
        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© <a href="http://www.openstreetmap.org" target="_parent">OpenStreetMap</a> and contributors, under an <a href="http://www.openstreetmap.org/copyright" target="_parent">open license</a>',
            maxZoom: 18
        }).addTo(map);
        var bounds = [
            [{{ coordinates.SW_lat }}, {{ coordinates.SW_lng }}],
            [{{ coordinates.NE_lat }}, {{ coordinates.NE_lng }}],
        ]
        map.fitBounds(bounds);
        L.rectangle(bounds, {
            color: "#ff7800",
            weight: 2,
            fill: false,
            clickable: false
        }).addTo(map);
        window.bbox = map.getBounds().toBBoxString();
    });
    $(function () {
        var myData = [
            {%  for myEntry in mySortedUserList %}
                {
                    label: "{{myEntry.name}}",
                    data: {{ myEntry.ways }},
                    crew: {{ myEntry.crew|lower }}
                },
            {%  endfor %}]
        var myPlot = $.plot($("#chart"), myData, {
            series: {
                pie: {show: true,
                    tilt: 0.5,
                    label: {show:true, threshold: 0.05}}
            },
            legend: {show: false}
        });
    });

//------

    $(function () {
        var data = [];
        {% for myEntry in mySortedUserList %}
        var d{{ loop.index }} = {{ myEntry.timeline|safe }};
        data.push(d{{ loop.index }});
        {% endfor %}

        // first correct the timestamps - they are recorded as the daily
        // midnights in UTC+0100, but Flot always displays dates in UTC
        // so we have to add one hour to hit the midnights in the plot
        //for (var i = 0; i < d.length; ++i)
        //    d[i][0] += 60 * 60 * 1000;

        // helper for returning the weekends in a period
        function weekendAreas(axes) {
            var markings = [];
            var d = new Date(axes.xaxis.min);
            // go to the first Saturday
            d.setUTCDate(d.getUTCDate() - ((d.getUTCDay() + 1) % 7))
            d.setUTCSeconds(0);
            d.setUTCMinutes(0);
            d.setUTCHours(0);
            var i = d.getTime();
            do {
                // when we don't set yaxis, the rectangle automatically
                // extends to infinity upwards and downwards
                markings.push({ xaxis: { from: i, to: i + 2 * 24 * 60 * 60 * 1000 } });
                i += 7 * 24 * 60 * 60 * 1000;
            } while (i < axes.xaxis.max);

            return markings;
        }

        //var options = {
        //    xaxis: { mode: "time", tickLength: 5 },
        //    selection: { mode: "x" },
        //    grid: { markings: weekendAreas }
        //};

        //var plot = $.plot($("#chart"), data, options);

        {% for myEntry in mySortedUserList %}
            var d{{ loop.index }} = {{ myEntry.timeline|safe }};
            data.push(d{{ loop.index }});

            var overview{{ loop.index }} = $.plot($("#overview{{ loop.index }}"), [d{{ loop.index }}], {
                series: {
                    lines: { show: true, lineWidth: 1 },
                    shadowSize: 0
                },
                xaxis: { ticks: [], mode: "time" },
                //yaxis: { ticks: [], min: 0, autoscaleMargin: 0.1 },
                selection: { mode: "x" }
            });
            // now connect the two
            //$("#chart").bind("plotselected", function (event, ranges) {
            //    // do the zooming
            //    plot = $.plot($("#chart"), [d{{ loop.index }}],
            //            $.extend(true, {}, options, {
            //                xaxis: { min: ranges.xaxis.from,
            //max: ranges.xaxis.to }
            //            }));

                // don't fire event on the overview to prevent eternal loop
            //    overview{{ loop.index }}.setSelection(ranges, true);
            //});

            //$("#overview{{ loop.index }}").bind("plotselected",
            //function (event, ranges) {
            //    plot.setSelection(ranges);
            //});

        {% endfor %}
    });

</script>
</body>


